.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.custom-dropdown .dropdown-toggle{
  width:300px;
  height:70px;
  background: linear-gradient(135deg, #764BA2 0%, #667EEA 100%);
  COLOR:white;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  margin-bottom: 400px;
}

.custom-dropdown .dropdown-menu{
  margin-top: 7px;
  background: linear-gradient(135deg, #764BA2 0%, #667EEA 100%);
  border:none;
  width:300px;
  height:auto;
  font-size:20px;
  border-radius: 15px;
  
}

.custom-dropdown .dropdown-item{
  color: white;
  margin-bottom: 10px;
}

.custom-dropdown .dropdown-item:hover,
.custom-dropdown .dropdown-item:focus{
  background: rgba(255,255,255,0.1);
  color:white;
  border-radius:15px;
  width:293px;
  height:40px;
  margin-left: 3px;
}